<div class="flexContainer child">
    <div class="mainItem">
        <div class="center-box">
            <!-- <div class="nullItem  nullItem_bottom"></div> -->
            <div style="height:400px">   
                <pie ng-if="data"
                        id="piecharts" 
                        legend="legend" 
                        counts="counts" 
                        data="data">
                </pie>  
            </div> 
            <!-- <table class="table text-center">
                <tr class="title_tr">
                        <td>统计方面</td>
                        <td>合计</td>
                </tr>
                <tr>
                        <td>圈子问题</td>
                        <td>{{counts}}</td>
                </tr>
            </table> -->
        </div>
    </div>
</div>