<div class="flexContainer child">
    <div class="mainItem">
        <div class="center-box">
            <strong>当前学校分享数</strong>
            <br>
            <div class="nullItem  nullItem_bottom"></div>
            <div style="height:400px">   
                <pie ng-if="data"
                        id="piecharts" 
                        legend="legend" 
                        counts="counts" 
                        data="data">
                </pie>  
            </div> 
        </div>
    </div>
</div>