<div class="flexContainer child">
    <div class="mainItem">
        <div class="center-box">
            <div class="ms-topNav">
                <!-- <nav class="ms-navTab text-left nav nav-tabs">
                    <a ui-sref="layout1.ringA.issueA"  href="javascript:;">问题总数</a>
                    <a ui-sref="layout1.ringA.issueB"  href="javascript:;">单个学校问题数</a>
                </nav> -->
                <ul class="nav nav-tabs">
                    <li class="active"><a ui-sref="layout1.ringA.issueA"  href="javascript:;">问题总数</a></li>
                    <li><a ui-sref="layout1.ringA.issueB"  href="javascript:;">单个学校问题数</a></li>
                </ul>
            </div>
            <div class="scrollable-content flexContainer">
                <div class="flexItems">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </div>
</div>