<div class="flexContainer child">
    <div class="mainItem">
        <div class="center-box">
            <strong>当前学校用户数</strong>
            <br>
            <div class="nullItem nullItem_bottom"></div>
            <table class="table text-center">
                <tr class="title_tr">
                    <td>学校编号</td>
                    <td>学校名称</td>
                    <td>导入人数</td>
                </tr>
                <tr ng-repeat="item in data">
                    <td>{{item.school_id}}</td>
                    <td>{{item.school_name}}</td>
                    <td>{{item.count}}</td>
                </tr>
            </table>
            <div class="nullItem nullItem_top"></div>
        </div>
    </div>
</div>